@-webkit-keyframes flip-in {
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
}
@keyframes flip-in {
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
}
@-webkit-keyframes flip-out {
  0% {
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  to {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}
@keyframes flip-out {
  0% {
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  to {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}
.flip-in {
  -webkit-animation: flip-in 0.25s;
  animation: flip-in 0.25s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.flip-out {
  -webkit-animation: flip-out 0.25s;
  animation: flip-out 0.25s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-0.625rem);
    transform: translateY(-0.625rem);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes jump {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-0.625rem);
    transform: translateY(-0.625rem);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.jump {
  -webkit-animation: jump 0.25s;
  animation: jump 0.25s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

h1,
h2,
h3 {
  line-height: 1.1;
  margin-top: 0;
}
h1 {
  font-size: 2.25rem;
  letter-spacing: 0.125rem;
}
a,
a:active,
a:visited {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  max-width: 69.375rem;
  padding: 0 1.5rem;
}
@media (min-width: 71.875em) {
  .container {
    padding: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
.guess {
  display: grid;
  gap: 0.1875rem;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 0.625rem;
  width: 18.75rem;
}
.guess__tile {
  align-items: center;
  border: 0.125rem solid #424242;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  height: 3.25rem;
  justify-content: center;
  width: 3.25rem;
}
.guess .has-letter {
  border-color: #666;
}
.guess .correct {
  background-color: #008f00;
  border-color: #008f00;
}
.guess .present {
  background-color: #cbac25;
  border-color: #cbac25;
}
.guess .absent {
  background-color: #595959;
  border-color: #595959;
}

section.game{

    border: 1px solid #dadce0;
    border-color: #5f6368;
    border-radius: 8px;
    margin: 25px 0px;
    padding: 25px;
}

.game__title h2{
    text-align: center;
}

.game__title{
    padding: 15px 0px;
}